<html>
    <style>
        h2 {
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
        }
        .left-right {
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;
        }
    </style>
    <div>
        <h2>Curriculum Vitae</h2>
        <h2>{{name}}</h2>
    </div>
    <div class="left-right">
        <div>
{{Address Line 1}} <br/>
{{Address Line 2}}
        </div>
        <div style="text-align: end;">
{{Phone}}<br/>
{{Email}}
        </div>
    </div>
    <div style="display: flex">
        <div>
            <div style="font-weight: bold;">Core specialty:</div>
            <div>Research interests:</div>
            <div>Other interests:</div>
        </div>
        <div>
            <div>Institutional and individual use of data in transportation and travel planning</div>
            <div>Forecasting, measurement, innovation diffusion, travel behavior</div>
            <div>Pedestrian and bicycle planning, public transit planning, transportation finance, transportation technology</div>
        </div>
    </div>
    <div>
        <h3 style="border-bottom: 1px solid black;">Education</h3>
        <div class="left-right">
            <div>
                <div><em>University of California, Los Angeles</em></div>
                <div>Doctor of Philosophy, Urban Planning</div>
            </div>
            <div>
                

            </div>

        </div>
    </div>
</html>